*.pyc
*.npz
*.zip
venv/
.tox/
src/UNKNOWN.egg-info/
src/__pycache__/
events.outs.tfevents.*
log/*
events.out.tfevents.*
minikube-linux-amd64
data/*
db_api
target/debug/*
target
*.whl
*.egg
*.lock
*id_rsa*
celery_app/db.py
sanic_app/data/test
sanic_app/data/test_upload5
celery_app/log/monitor/*
