sanic
stable_baselines3
scipy
matplotlib
reactpy[sanic]
sqlalchemy
psycopg2-binary
pyfredapi
pytest
ruff
coverage
tox
pylint
torch==2.1.2
polars
reactpy_apexcharts
tensorboard
rich
tqdm
scikit-learn
pyarrow