sanic
stable_baselines3
scipy
matplotlib
reactpy[sanic]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
pyfredapi
pytest
ruff
coverage
tox
pylint
torch
polars
reactpy_apexcharts
tensorboard
rich
tqdm
scikit-learn
pyarrow