celery
stable_baselines3
scipy
matplotlib
sqlalchemy
psycopg2-binary
asyncpg
pyfredapi
torch
polars
tensorboard
scikit-learn
pyarrow
redis
git+https://john-woolley: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@github.com/john-woolley/trader-dashboard-db.git@main#egg=